body
{
        position: absolute;
        height: 100%;
        width:100%;
        background-image: url(58.jpg);
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
    }
